@import "section-main.scss";
.main-footer{
    background-color: var(--dark-clr);
    color: var(--light-clr);
    padding: 8rem 2.4rem 6.4rem;
    .main-footer .row{
        padding: 0;
    }
    .info-box{
        grid-column: span 4;
        margin-bottom: 6.6rem;
    }
    .footer-title{
        color: var(--brand-clr);
    }
    .info-box .footer-title{
        font-size: 3rem;
        font-family: var(--main-font-family-medium);
    }
    .languages{
        margin: 2.4rem 0;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
    }
    .languages img{
        width: 2.4rem;
    }
    .languages span{
        margin: 0 .8rem;
    }
}
